
.jumbotron {
    
    color: white;
    background-color: brown;
}



.seisme {
    text-decoration: none;
    color: rgb(0, 255, 34);
    background-color: white;
    
}

.seisme:hover {
    border-style: solid;
    
    color: rgb(0, 255, 34);
    
}



.eruption {
    text-decoration: none;
    color: rgb(0, 255, 34);
    
}

.eruption:hover {
    border-style: solid;
    
    color: rgb(0, 255, 34);
    
}

#disastermain {
    text-decoration: none;
    background-image: url("");
}